<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/tabs/map">
      <ion-icon aria-hidden="true" name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ranking" href="/tabs/ranking">
      <ion-icon aria-hidden="true" name="leaf-outline"></ion-icon>
      <ion-label>Ranking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="store" href="/tabs/store">
      <ion-icon aria-hidden="true" name="gift-outline"></ion-icon>
      <ion-label>Tienda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
